html {
  scroll-behavior: smooth;
}
body {
    background: linear-gradient(to bottom, #040b2b, #172b9b);
    padding: 140px 20px 140px; /* space for fixed footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1 {
    color: rgb(0, 196, 0);
    font-size: 72px;
    font-weight: 600;
    letter-spacing: -7px;
    text-align: center;
    margin-bottom: 20px;
}
.text {
    font-size: 28px;
    color: rgb(0, 160, 0);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: -1.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sub-text {
    font-size: 28px;
    color: rgb(0, 160, 0);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: -1.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style-type: none;
    text-align: center;
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 15px;
    font-size: 24px;
    color: rgb(1, 212, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-text {
    font-size: 31px;
    color: rgb(1, 212, 1);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: -1.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-info {
    font-size: 23px;
    color: rgb(0, 160, 0);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: -1.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-pic {
    border-radius: 50%;
    border: 7px solid rgb(0, 196, 0);
    align-self: center;
}
img {
    display: block;
    margin: 0 auto;
}
footer {
    color: rgb(2, 290, 2);
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}
.footer-link {
    color: rgb(147, 196, 151);
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.footer-copyright {
    margin-bottom: -10px;
    font-size: 14px;
    color: rgb(223, 255, 223);
}